<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.google.unity.ads" android:versionName="1.0" android:versionCode="1">
  <application>
    <uses-library android:required="false" android:name="org.apache.http.legacy" />
    <meta-data android:name="com.google.android.gms.ads.APPLICATION_ID" android:value="ca-app-pub-4572742510387968~2132883982" />
	<!-- 안드로이드 앱에서 Google 모바일 광고 SDK 20.3.0 이하를 사용하고 Android 13을 타겟팅하는 경우에는 다음과 같이 
			권한을 추가해야 Google 모바일 광고 SDK에서 광고 ID에 액세스할 수 있습니다.
			참고 링크: https://developers.google.com/admob/android/quick-start -->
	<uses-permission android:name="com.google.android.gms.permission.AD_ID"/>
  </application>
</manifest>